.guess-item.freezing {
  font-weight: bold;
  background-color: MediumBlue;
}

.guess-item.cold {
  background-color: MediumTurquoise;
}

.guess-item.warm {
  background-color: Orange;
}

.guess-item.hot {
  font-weight: bold;
  background-color: Crimson;
}

